<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <title>Robo QA</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{/}">Robo QA V1</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/hello_world}">Hello World</a></li>
                        <li class="active"><a th:href="@{/user_names}">User Names</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <h2>User Details:</h2>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Gender</th>
                        <th>Subscription Tier</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over the list of users -->
                    <tr th:each="user : ${users}">
                        <td><strong th:text="${user.user_name}"></strong></td>
                        <td><strong th:text="${user.user_email}"></strong></td>
                        <td><strong th:text="${user.user_role}"></strong></td>
                        <td><strong th:text="${user.user_gender}"></strong></td>
                        <td th:classappend="(${user.user_subscription_tier} == 'STARTER' ? 'table-info'
                            : (${user.user_subscription_tier} == 'GROWTH' ? 'table-success'
                            : (${user.user_subscription_tier} == 'SCALE' ? 'table-warning'
                            : (${user.user_subscription_tier} == 'ENTERPRISE' ? 'table-danger'
                            : (${user.user_subscription_tier} == 'ADMIN' ? 'table-dark' : '')))))">
                            <strong th:text="${user.user_subscription_tier}"></strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer></footer>
    </body>
</html>